body{
	margin: 0;
}

h1{
	font-family: "Open Sans";
	margin: 5px;
	padding: 15px;
}

h2{
	padding-top: 30px;
	font-family: Roboto;
	color: #C4D037;
}

h3{
	padding-left: 40px;
	font-family: Roboto;
}

a{
	font-size: 25px;
}

th{
	padding-top: 10px;
	font-size: 20px;
}

table img{
	width: 300px;
	height: 160px;
}

#sidebar {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	width: 35%;
	background-color: #FFFFFF;
	position: fixed;
	height: 100%;
	overflow: auto;
	text-align: left;
	border-right: 2px solid silver;
	font-family: "Roboto";
}

#sidebar ol{
	color: #1E2621;
}

#instruction ul{
	color: =#1E2621;
}

#instruction p{
	margin-left: 35px;
}

#content h1{
	text-align: left;
	color: white;
	background-color: #C4D037;
	border-radius: 5px;
	size: 30px;
}

#content {
	margin-left:40%;
	padding:1px;
	height:1000px;
}

/* #instructpic{ */
	/* display: flex; */
	/* flex-direction: row; */
	/* flex-wrap: nowrap; */

	/* justify-content: space-around; */

/* } */

.step{
	color: white;
	background-color: #FDC14C;
	margin: 10px;
	border-radius: 5px;
}

.instructpicdiv img{
	width:600px;
	height: 600px;
	padding: 0px;
	border: 0px;
	}


.ipic{
	width: 400px;
	height: 400px;
	/*height: 50%;*/
}

.label{
	width: 60px;
}

.start{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.option{
	text-align: center;
}

table{
	margin-left: auto;
	margin-right: auto;

}

#comment{
	text-align: center;
}

#submitT{
	text-align: center;
}

#question h2{
	text-align: center;
}

.drag{
	border: 1px solid black;
}

#dragArea{
	height: 200px;

}

textarea{
	width: 400px;
	height: 100px;
}
