body{
	margin: 0;
}

h1{
	font-family: "Open Sans";
	margin: 5px;
	padding: 15px;
}

h2{
	padding-top: 30px;
	font-family: Roboto;
	font-size: 18pt;
	color: #C4D037;
}

h3{
	padding-left: 40px;
	font-family: Roboto;
}

a{
	font-size: 25px;
}

th{
	padding-top: 10px;
	font-size: 20px;
}

p{
	font-family: "Roboto";
}

#sidebar {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	width: 30%;
	background-color: #FFFFFF;
	position: fixed;
	height: 100%;
	overflow: auto;
	text-align: left;
	border-right: 2px solid silver;
}

#sidebar ol{
	color: #1E2621;
}

#instruction ul{
	color: =#1E2621;
}

#instruction p{
	margin-left: 35px;
}

#show {
  display: inline-block;
  color:#C4D037;
  text-align: left;
  border: none;
  /*padding: 10px;*/
  width: 70%;
  transition: all 0.5s;
  font:bold 18pt Roboto, "Times New Roman";
  margin-top: 10px;
  margin-bottom: 10px;
}

#show span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#show span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#show:hover span {
  padding-right: 25px;
}

#show:hover span:after {
  opacity: 1;
  right: 0;
}

#bkd {
  display: inline-block;
  border:none;
  color:#C4D037;
  text-align: left;
  /*padding: 10px;*/
  width: 50%;
  transition: all 0.5s;
  font:bold 18pt Roboto, "Times New Roman";
  margin-bottom: 20px;
  margin-top: 10px;
}

#bkd span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#bkd span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#bkd:hover span {
  padding-right: 25px;
}

#bkd:hover span:after {
  opacity: 1;
  right: 0;
}

#moreinfo {
	padding: 10px;
	margin-bottom: 30px;
}

#content {
	margin-left:35%;
	padding:1px;
	height:1000px;
}
#content h1{
	text-align: left;
	color: white;
	background-color: #C4D037;
	border-radius: 10px;
	size: 20px;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	margin-top: 10px;
}



/*.step{
	color: white;
	background-color: #FDC14C;
	margin: 10px;
	border-radius: 5px;
}*/

#example{
	vertical-align: middle;
}

#example img{
	width:90%;
	float: left;
}

.label{
	width: 60px;
}

.start{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.option{
	text-align: center;
}

#capImg img{
	margin-left:37%;
	position: fixed;
	width: 20%;
	height: auto;
}

#captext1{
margin:0;
padding:0;
}

#captext3{
font-family: "Roboto";
}

.ud {
  background-color: white; 
  color: #4F4B4D; 
  border: 2px solid #FDC14C;
  border-radius: 5px;
  padding:10px;
  width: 15%;
  margin:10px;
  font: 12pt arial;
}

.ud:hover {
  background-color: #FDC14C;
  color: white;
  cursor: pointer;
}

.ca {
  background-color: white; 
  color: #4F4B4D;
  border: 2px solid #E86D8C;
  border-radius: 5px;
  padding:10px;
  width: 10%;
  margin:10px;
  font: 12pt arial;
}

.ca:hover {
  background-color: #E86D8C;
  cursor: pointer;
  color: white;
}

#comment{
	text-align: center;
}

#submitT{
	text-align: center;
}

#question h2{
	text-align: center;
}

.drag{
	border: 1px solid black;
}

#dragArea{
	height: 200px;

}

#reason{
	font:bold 15pt "Roboto";
	padding:15px;
}

textarea{
	width: 45%;
	height: 100px;
	border-radius:5px;
	border:1px solid silver;
	font-size: 14pt;
	font-family: "Bradley Hand";
}

input[type=submit]{
	padding: 20px 40px;
	background:#C4D037;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius:10px;
	border-radius:5px;
	font:bold 18pt arial;
	color: white;
	margin-left: 16%;
	margin-top: 20px;
	margin-bottom: 30px;
}
input:hover {
  background-color: #A3AD2D;
}
